/* Use Selectors and attributes for the HTML design */
h1.ti{
    text-shadow: 2px 2px #942DC7;
    font-variant: small-caps;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: underline ;
    animation-name: mymove;
    font-size: 100px;
    text-align: center;
    color: #942DC7;
    
}
.su{
  text-shadow: 9px 9px #333;
  font-variant: inherit;
  letter-spacing: 4px;
  text-transform: lowercase;
  text-decoration: double; 
  font-size: 100px;
  text-align: center;
}
.you{
   text-shadow: 2px 2px #222;
   font-variant: small-caps;
   letter-spacing: 2px;
   text-transform: capitalize;
   text-decoration: line-through;
    text-align: center;
}
.yoursub{
   text-shadow: slateblue;
   color: violet;
   font-size: initial;
   text-transform: uppercase;
   text-decoration: khaki;
   animation: normal;
   font-size: 100px;
   text-align: center;
}